# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
.venv/
.python-version
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

# UV
.uv-cache/

# Environment
.env
.env.*

# IDE
.idea/
.vscode/

# Storage
storage/*
!storage/.gitkeep

# Logs
*.log

# Alembic (если будут временные файлы)
*.pyc